.btn {
    padding: 10px;
    border: 1px solid #526d82;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #27374d;
    color: white;
}

.btn:disabled {
    cursor: default;
}
